.Allbeers{
    display: flex;
    flex-wrap: wrap;
}

.Allbeers .container{
    height: 200px;
    display: flex;
    padding-top: 50px;
    min-width: 350px;
}

.Allbeers .container img{
    height: 200px;
}

.Allbeers .text{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.Allbeers p{
    margin: 0;
    padding: 0;
}

.Allbeers h1{
    margin: 0;
    font-size: 18px;
}

.Allbeers .img{
    min-width: 150px;
}

.Allbeers a{
    color: black;
}

#beers-search{
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    width: 80vw;
}